*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul , ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* css common */

#light{
    height: 100vh;
    background-color: #353b48;
    display: flex;
    align-items: center;
    justify-content: center;
}
#light button{
    padding: 13px 30px;
    cursor: pointer;
}
#light button{
    margin-top: 60px;
    border-radius: 20px;
    background-color: #ff793f;
    color: azure;
    border: none;
}